.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9c26f;
    padding: 10px;
    width: 100%;
    z-index: 100;
}
.divLogo {
    display: flex;
    gap: 10px;
}
.logo {
    background-color: transparent;
    border-radius: 26px;
    height: 10px;
    width: 10px;
}
.divCursiva {
    display: flex;
    flex-direction: column;
}
.hyde {
    font-weight: 600;
    margin: 0px;
}
.cursiva {
    font-size: 11px;
    font-style: italic;
    margin: 0px;
}
@media all and (min-width:800px) {
    .header {
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        gap: 50px;
    }
    .divMenuBurguer {
        display: none;
    }
}