.sectionPrincipal {
    background-color: #fdefe4;
}
@media all and (min-width:800px) {
    .sectionPrincipal {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
    } 
    .imagenesCarrousel {
        max-width: 100%;
        height: auto;
    }
}