.seccionPrincipal {
    background-color: #fdefe4;
    padding: 20px;
}
.divLogo {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
.titleForm {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.logo {
    background-color: transparent;
    border-radius: 26px;
    height: 10px;
    width: 10px;
}
.divCursiva {
    display: flex;
    flex-direction: column;
}
.hyde {
    font-weight: 600;
    margin: 0px;
}
.cursiva {
    font-size: 11px;
    font-style: italic;
    margin: 0px;
}
.divAbajoMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.divDirecciones {
    width: 100%;
    word-wrap: break-word;
}
.palabrasSinSpan {
    opacity: 0.8;
    white-space: normal;
}
.spanDIreccion {
    font-weight: 500;
    opacity: 1;
}
@media all and (min-width:600px) {
    .seccionMap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}